
  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Lato:wght@300&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');



html , body{
    height: 100%;
    width: 100%;
    font-family:  'Bricolage Grotesque', sans-serif;
   
}

.row input{
    margin: 0;
    padding: 14px 40px;
    border: 2px solid black;
    border-radius: 15px;
}
